{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}


<hr>
<h1>My To Do List </h1>
<a href="{% url 'task-create' %}">
 Ad Task
</a>
<form action="" method="get">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="search">
</form>
<table>
    <tr>
        <th>Item</th>
         <th>  </th>
        <th> </th>
    </tr>
    {% for task in tasks%}
     <tr>
        <th>{{task.tittle}}</th>
         <th>
             <a href="{% url 'task' task.id %}"> View </a>
             <a href="{% url 'task-update' task.id %}"> Edit  </a>
             <a href="{% url 'task-delete' task.id %}"> Delete  </a>
         </th>
    </tr>
    {% empty %}
    <h3>
        No item in list
    </h3>
    {% endfor %}
</table>